*{
    margin: 0;
    padding: 0;
    font-family: "Cabin";
}
.titlu{
    text-align: center;
    margin: 30px 0;
}
.motto{
    width: 840px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}